<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li>
            <a th:href="@{/variables/string/}+'Hola victor'">/variables/string/Hola victor</a>
        </li>
        <li>
            <a th:href="@{/variables/string/}+'Hola John'">/variables/string/Hola john</a>
        </li>
        <li>
            <a th:href="@{/variables/string/}+${Saludos victor}+'/'+${7}">/variables/string/saludos victor/7</a>
        </li>
    </ul>
</body>
</html>