<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Enviar parametros del request HTTP GET - URL</title>
</head>
<body>
    <h1>Enviar parametros del request HTTP GET - URL</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(text='hola mundo')}">/params/string?text=hola mundo</a>
        </li>
        <li>
            <a th:href="@{/params/string(text='que tal john')}">/params/string?text=que tal john</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(greeting='como estas andres', number=9)}">/params/mix-params?saludo=como estas&number=7</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(greeting='como estas andres', number=9)}">/params/mix-params-request?saludo=como estas&number=7</a>
        </li>
    </ul>
</body>
</html>